php_value error_reporting -1
php_flag display_errors on
php_flag display_startup_errors on

php_flag ignore_repeated_source off
php_flag ignore_repeated_errors off

php_flag track_errors on

php_flag log_errors on

php_flag mysql.trace_mode on

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]



#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteBase /
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond $1 !^(index\.php|robots\.txt)
#    RewriteRule ^(.*)$ index.php?/$1 [L]
#</IfModule>
#
#RewriteEngine On
#RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#
#
#
#
#
#
#AddDefaultCharset UTF-8
#
#DirectoryIndex index.php index.html
#
#ErrorDocument 400 /errors/400.php
#ErrorDocument 401 /errors/401.php
#ErrorDocument 403 /errors/403.php
#ErrorDocument 404 /errors/404.php
#ErrorDocument 500 /errors/500.php
#
#<IfModule mod_setenvif.c>
#	SetEnv TZ Europe/Kiev
#</IfModule>
#
#ServerSignature Off
#
#AddType application/javascript .js
#AddType text/css .css
#
#<ifModule mod_deflate.c>
#	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
#</ifModule>
#
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /
#
#	RewriteRule ^(.*)\.$ /$1 [R=301,L]
#	RewriteCond %{HTTPS} off
#    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
#
#	RewriteCond %{REQUEST_FILENAME} !-f
#	RewriteCond %{REQUEST_FILENAME} !-d
#	RewriteRule ^(.*)$ index.php/$1 [L]
#
#	RewriteRule ^index\.php$ - [L]
#	RewriteCond %{REQUEST_URI} !/public/(.+)$
#	RewriteRule . /index.php [L]
#
#</IfModule>
#
#<ifModule mod_headers.c>
#     <FilesMatch "\.(html|htm)$">
#        Header set Cache-Control "max-age=43200"
#    </FilesMatch>
#    <FilesMatch "\.(js|css)$">
#        Header set Cache-Control "max-age=43200"
#    </FilesMatch>
#    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
#        Header set Cache-Control "max-age=43200"
#    </FilesMatch>
#    <FilesMatch "\.(php)$">
#        Header unset Cache-Control
#    </FilesMatch>
#</IfModule>
#
#<ifModule mod_expires.c>
#    ExpiresActive On
#    ExpiresDefault "access plus 43200 seconds"
#    ExpiresByType image/x-icon "access plus 43200 seconds"
#    ExpiresByType image/jpeg "access plus 43200 seconds"
#    ExpiresByType image/png "access plus 43200 seconds"
#    ExpiresByType image/gif "access plus 43200 seconds"
#    ExpiresByType application/x-shockwave-flash "access plus 43200 seconds"
#    ExpiresByType text/css "access plus 43200 seconds"
#    ExpiresByType text/javascript "access plus 43200 seconds"
#    ExpiresByType application/javascript "access plus 43200 seconds"
#    ExpiresByType application/x-javascript "access plus 43200 seconds"
#    ExpiresByType text/html "access plus 43200 seconds"
#    ExpiresByType application/xhtml+xml "access plus 43200 seconds"
#</ifModule>