body{
    padding: 0;
    background: #ccc;
}
p.error {
    color: red;
}

#header{
    padding: 20px;
    background-color: gold;
}
#footer{
    padding: 20px;
    background-color: #333;
}
#main_container{
    padding: 20px;
    background-color: #fff;
}

.error_input{
    border-color: red;
}

.complet_input{
    border-color: greenyellow;
}
.block_error, .block_error .pass_error, .block_error .login_error{
    display: none;
}